@charset "UTF-8";
@import "lib/basic.scss";

// header css
#header{width: 100%; height: 140px; background-color: #ddd;
    div{width: 960px; height: 100px; background-color: #dad;
        
    }
}

//change block raise an execption : incompatible character encoding : cp949 and utf-8